/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

.estiloTitulo {
	font-family: “Verdana”;
	/*font-size: 25px;*/
	color: #000000;
}

.estiloPreguntas{
	font-family: "Verdana";
	/*font-size: 14px;*/
	color: black;
}

.estiloComboB{
	font-family: "Verdana";
	/*font-size: 12px;*/
	color: black;
}

.error{
	color: red;
	textAlign: center;
}
global
{
	vertical-align: middle;
	text-align: center;
}